* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    /* border: 1px solid red; */
  }

body {
    color: white;
    background: linear-gradient(to top, #7c5fff, #feb47b);
    min-height: 100vh;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    display: flex;
    align-items: center;
    gap: 50px;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

p {
    padding: 10px;
}

button {
    color: white;
    background: linear-gradient(to top, #7c5fff, #feb47b);
    cursor: pointer;
    /* border: 0px solid blue; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #7c5fff;
}

input {
    background: linear-gradient(to top, #7c5fff, #feb47b);
    color: white;
    /* border: 1px solid white; */
    padding: 10px;
    border-radius: 10px;
}

.day {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.title {
    padding: 20px;
}
#main-weather-icon img {
    height: 250px;
}

#forecast img {
    height: 40px;
}

#search-form {
    border-bottom: 1px solid white;
    padding: 20px;
}

#info {
    /* border-bottom: 1px solid white; */
    padding: 20px;
}

#location {
    /* border-bottom: 1px solid white; */
    padding: 20px;
}

#description {
    border-bottom: 1px solid white;
    padding: 20px;
}